ul {
  list-style: none;
  li {
    background-color: grey;
    // flex-direction: column;
    height: 8em;
    img {
      width:7%;
      float:left;
    }
    h3 {
      font-size:3em;
      vertical-align: middle;
    }
  }
}
