ul {
  list-style: none;
  li {
    display: flex;
    background-color: grey;
    // flex-direction: column;
    height: 8em;
    img {
    }
    h3 {
      flex: 60%;
      font-size:3em;
      align-self: center;
    }
  }
}
